* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    max-width: 600px;

}

body {
    margin: 0 auto;
    width: 100%;
    height: 92vh;

}

section {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #000;
    background-image: url(mafia91.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: top;
    background-size: 100%;
    z-index: 1;

    transition: 1s;
}

section:active {
    background-position-y: center;
}

.card {

    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000;
    background-image: url(images.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: center;
    background-size: 100%;
    z-index: 2;
    /* transform: rotate(180deg); */
    transition: 2s;
}

section:active .card {
    /* opacity: 50%; */
    height: 30%;
}


.copy {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0px;
    width: 100%;
    height: 4rem;
    background: #202020;
    z-index: 3;
    color: rgb(90, 90, 90);
    font-size: 13px;
    font-family: monospace;
}